.App {
  text-align: center;
  display: grid;
  margin-top: 5%;
  grid-template-columns: auto auto;
}

body {
  background-image: url(./assets/jared-rice-388260-unsplash.jpg) ;
  background-size: cover;
  background-attachment: fixed;
}

 .Information-Container {
 margin-right: 10%;
 background-color:white;
 opacity: 0.5;
}

.Chakra-Container{
  margin-left: 5%;
}

@media only screen and (min-width: 768px){
  .App {
    height: 700px ;
    width: 700px ;
    background-image: url(./assets/jared-rice-388260-unsplash.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-top:2%
  }

  body {
    background-color: whitesmoke;
    background-image: none;
    justify-content: center;
    margin: auto
  }

  .Information-Container, .Chakra-Container {
    margin-top:5%;
    height: 80vh
  }
}